<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>


<div>
<h1>Articles Table</h1>
<table>
  <tr>
    <td>Title</td>
    <td>Content</td>
  </tr>
  <%@articles.each do |x|%>
    <tr>
      <td><%= link_to x.title, 'articles/display_article?query='+x.title
      %></td>
      <td><%="#{x.content} "%></td>
    </tr>
  <%end%>
</table>
</div>

<div>
  <h1>Tags Table</h1>
  <table>
    <tr>
      <td>Name</td>
    </tr>
    <%@tags.each do |x|%>
      <tr>
        <td><%="#{x.name} "%></td>
      </tr>
    <%end%>
  </table>
</div>

</body>
</html>
